@import url("https://fonts.googleapis.com/css?family=Exo&display=swap");

* {
  font-family: "Exo", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.main-center {
  width: 95%;
  margin: 0 auto;
}
