@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

* {
  font-family: 'Exo', sans-serif; 
  box-sizing: border-box;
}

html, body { 
  height: 100%; 
}

body {
  margin: 0; 
  //background: url("https://www.toptal.com/designers/subtlepatterns/patterns/dot-grid.png");
}

.main-center {
  width: 95%;
  margin: 0 auto;
}
