<nav class="navbar navbar-expand-lg bg-white position-fixed fixed-top w-100 d-flex justify-content-around">
    <img src="https://i.pinimg.com/originals/58/d1/28/58d1288f7821fc28142e999091afb409.png"/>
    <div>
      <button type="button" class="btn btn-link mr-2" [routerLink]="['']">Home</button>
      <button type="button" class="btn btn-outline-success mr-2" [routerLink]="['/login']">Login</button>
      <button type="button" class="btn btn-outline-primary" [routerLink]="['/register']">Register</button>
    </div>
</nav>
